<% layout('/layout/boilerplate') %>
    
<div class="row mt-3">
    <h1 class="text-center mt-3">Contact Us</h1>
    <div class="col-8 offset-2">
        <form action="/response" method="POST" novalidate class="validatedform">
            <div class="mb-3">
                <label class="form-label" for="title">Tell us your good name</label>
                <input class="form-control" type="text" id="title" name="name" required>
                <div class="valid-feedback">looks good</div>
            </div>
            <div class="mb-3">
             <label class="form-label" for="location">Provide your email address</label>
             <input class="form-control" type="text" id="location" name="email" required>
             <div class="valid-feedback">looks good</div>
         </div>
         <div class="mb-3">
            <label class="form-label" for="image">provide your phone number</label>
            <input class="form-control" type="number" id="image" name="phone" >
            <div class="valid-feedback">looks good</div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="description">reason for contacting </label>
            <textarea class="form-control" type="text" id="description" name="description" required></textarea>
        </div>
         <div class="mb-3">
            <button class="btn btn-success">submit</button>
         </div>
         
         </form>
   