
   
   <h1>all data</h1>
    
    
        <%for(let detail of details){ %>
            
                <div class="row">
                    
                    <div class="col-md-8">
                            <h5 ><%=detail._id%> </h5>
                            <p ><%=detail.description%></p>
                            <p >
                                <small class="text-muted"><%=detail.email%></small>
                            </p>
                            
                        
                    </div>
                </div>
            </div>
        <%}%> 
   
